body {
    background-color: rgb(5, 1, 53);
}

/* Define the container box sizes */
.box{
    padding: 30px;
    background: silver;
    margin-top:25px;
    margin-left:5px;
    margin-right:5px;
    margin-bottom:15px;
    align-content: center;
  }
.caption{
    align-content: center;
}

h1 {
     color: rgb(216, 215, 224);
     background-color: rgba(21, 17, 236);
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-weight: bold;
     font-size: 16;
}

h2 {
     color: rgb(7, 2, 46);
     background-color: whitesmoke;
     font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
     font-style: italic;
     font-size: 14;
     font-weight: bold;
}

img {
    padding-top: 10px;
    padding-right: 20px;
    padding-bottom: 10px;
    padding-left: 20px;
}

p {
   font-family: sans-serif;
   font-size: 14px;
}

.navbar {
    padding-left: 15px;
    background: rgb(21, 17, 236);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.navbar-brand {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: bold;
}

.navbar li {
    display: d-block;
    padding: 10px;
    margin-right: 0px;
    margin-left: 0px;
    cursor: pointer;
    font-size: 18px;
}

/* Here we define a navbar style that will ONLY be applied at screen sizes below 480 pixels */
@media (max-width: 480px) {
    .navbar {
      background-color: silver;
    }

  .navbar-brand {
        background-color: white;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
    }    
} 